body {
	width: 520px;
	background: #eee;
	margin: 0 auto;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
	margin-bottom: 5px;
}

#main {
	position: relative;
}

#main >label {
	top: 0;
	left: 1px;
}

#todoApp {
	padding: 26px;
	padding-bottom: 0;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 0 0 15px 15px;
}

.editing > div {
	display:none;
}

.textEdit {
	display:none;
}

.editing > .textEdit {
	display:block;
}

#todoApp h1 {
	text-align: center;
}
#todoApp input[type=text] {
	width: 444px;
	line-height: 1.4em;
	font-size: 24px;
	padding: 5px 10px;
}

#todoApp ul {
	list-style: none;
	padding: 0;
	margin: 10px 0;
}

#todoApp ul li {
	font-size: 24px;
	line-height: 2.6em;
	border-bottom: solid 1px #ccc;
	position: relative;
}

#todoList .done label {
	text-decoration: line-through;
	color: #777;
}

#todoList li:hover .destroy {
	display: block;
}

footer {
	background: #f4fce8;
	overflow: hidden;
	line-height: 46px;
	margin-left: -26px;
	margin-right: -26px;
	padding: 0 26px;
	color: #555;
	border-top: solid 1px #ededed;
	border-radius: 0 0 15px 15px;
}

#clear-completed {
	float: right;
	text-decoration: none;
	background: rgba(0,0,0,0.1);
	border-radius: 12px;
	padding: 0 18px 0;
	color: #555;
	margin: 9px 0;
	line-height: 28px;
}

#clear-completed:hover {
	background: rgba(0,0,0, 0.2);
}
/*对应按下去的效果*/
#clear-completed:active {
	position: relative;
	top: 2px;
}

.todo-item label {
	margin-left: 10px;
}

.destroy {
	position: absolute;
	display: none;
	right: 5px;
	top: 20px;
	width: 20px;
	background: url(../images/destroy.png) no-repeat 0 0;
	height: 20px;
}

.destroy:hover {
	background: url(../images/destroy.png) no-repeat 0 -20px;
	cursor: pointer;
}

/*checkbox*/

.chk-m139check {
    display: inline-block;
    width: 0;
    height: 0;
    filter: alpha(opacity=0);/*for IE*/
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.i-chooseMo, .i-chooseYet {
	display: inline-block;
    background: url(../images/global_v3_24.png) no-repeat 0 0;
    /*_background: url(../../images/global/global_v3.png) no-repeat 0 0;*/
    vertical-align: middle;
    overflow: hidden;
}

.i-chooseMo {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-position: -392px -1269px;
}

.i-chooseYet {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-position: -411px -1268px;
}


.c-pointer {
    cursor: pointer;
    top: 22px;
    left: -8px;
}

